@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", serif;
  font-size: 13px;
}