/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #343A40;
    color: #fff;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.sidebar.active {
    transform: translateX(250px);
}

/* Overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}