<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./src/static/css/style.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <title>To-Do List</title>
    </head>

    <body>
        
        <main id="app">
            
            <section class="todo-list">
                
                <!-- Título do app -->
                <h3>{{title}}</h3>
                
                <!-- Lista de tarefas -->
                <div class="all-todos">

                    <div 
                        v-for="task in tasksList" 
                        class="single-todo"
                        :class="{done : task.done}" 
                    >
                        <p @click="task.done = !task.done">{{ task.text }}</p>
                    </div>
                </div>

                <button class="clear" @click="tasksList=[]" v-if="tasksList.length">Limpar tudo</button>

                <input type="text" placeholder="Escreva uma nova tarefa..." v-model="newTask">
                <button class="add" @click="addTask()">Adicionar</button>

                <div class="instructions">
                    Instruções:
                    <ul>
                        <li>Clique no texto da tarefa para alternar entre feita / não feita</li>
                        <li>Use o botão limpar tudo para remover todas as tarefas</li>
                        <li>Use o input para adicionar novas tarefas</li>
                    </ul>
                </div>
            </section>

        </main>
        
        <script src="./src/static/js/scripts.js"></script>
    </body>

</html>