#root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-product {
    border-top: 1px solid #000;
}

.products-list {
    border-top: 1px solid #000;
    list-style: none;
}

.products-list li {
    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}